; All version data is in hex.  Starting with application, parametric, and redundant.
[Firmware Versions]
Version= 04 03 06 05 06 05 01 00

[GTW680BSJ0WS]
Personality=6
Hardware Type=HE
Model ID=00
Number of Knobs=0

[HTW200ASKWW]
Personality=0
Hardware Type=LE1
Model ID=10
Number of Knobs=1

[HTW240ASKWW]
Personality=1
Hardware Type=LE
Model ID=20
Number of Knobs=2

[GTW410ASKWW]
Personality=2
Hardware Type=LE
Model ID=30
Number of Knobs=3

[GTW460ASJWW]
Personality=3
Hardware Type=LE
Model ID=40
Number of Knobs=4